<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Allowance:</strong>
    <%= employee.allowance %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= employee.comment %>
  </p>

  
</div>