<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<%# Employee Information Card %>
<div class="card mb-4">
  <div class="card-header bg-light ">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title mb-0 fw-bold"><%= @employee.name %>'s Details</h4>
      <span><%= link_to "Back to Employees", employees_path, class: "btn btn-sm btn-outline-secondary" %></span>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-borderless">
          <tr>
            <th class="text-muted">Employee Number:</th>
            <td class="fw-bold"><%= @employee.id %></td>
          </tr>
          <tr>
            <th class="text-muted">Basic Salary:</th>
            <td><%= number_to_currency(@employee.salary, unit: "SAR ") %></td>
          </tr>
          <tr>
            <th class="text-muted">Allowance:</th>
            <td><%= number_to_currency(@employee.allowance, unit: "SAR ") %></td>
          </tr>
          <tr>
            <th class="text-muted">Total Salary:</th>
            <td><%= number_to_currency(@employee.gross_salary, unit: "SAR ") %></td>
          </tr>
  
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-borderless">
          <tr>
            <th class="text-muted">Net Salary:</th>
            <td class="fw-bold"><%= number_to_currency(@employee.total_salary, unit: "SAR ") %></td>
          </tr>
           <tr>
            <th class="text-muted">Email:</th>
            <td class="fw-bold"><%= @employee.email %></td>
          </tr>
          <tr>
            <th class="text-muted">Phone:</th>
            <td class="fw-bold"><%= @employee.phone %></td>
          </tr>
          
          

          <tr>
            <th class="text-muted">Joined:</th>
            <td><%= @employee.created_at.strftime("%B %d, %Y") %></td>
          </tr>
          <tr>
            <th class="text-muted">Comment:</th>
            <td><%= @employee.comment %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
