<div id="<%= dom_id main %>">
  <p>
    <strong>Month:</strong>
    <%= main.month %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= main.year %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= main.name %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= main.salary %>
  </p>

  <p>
    <strong>Allowance:</strong>
    <%= main.allowance %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= main.comment %>
  </p>

</div>
