<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The Complete Payroll Solution for Your Business, Unlocking Your Business Potential">
    <meta name="author" content="Yahaya Ismail">
    <meta name="theme-color" content="#007bff">
    <title><%= content_for?(:title) ? yield(:title) : "Payroll" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Preload and Load Bootstrap -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" as="style">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/sytels.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DTH5SJT');</script>
    
  </head>
  <body>
  <div class="d-flex">
    <!-- Sidebar -->
    <nav>
      <%= render 'shared/sidebar' %>
    </nav>

    <!-- Main Content -->
    <div class="flex-grow-1">
    
      <header class="p-3 bg-light border-bottom">
        <%= render 'shared/navbar' %>
      </header>

      <main class="container py-4">
        <%= yield %>
      </main>
      <footer class="text-center py-3 text-secondary">
        <p>&copy; <%= Time.now.year %> Salary Management App</p>
      </footer>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DTH5SJT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</body>
</html>
